.side-bar{
    background-color: grey;
    z-index: 2;
    left: 0;
    top: 0;
    font-size: small;
    border-right: solid thin;
    border-color: aqua;
}
.main{
    display: grid;
    grid-template-columns: 15em auto;
    background-color: #2196F3;
    height: 100%;
}
.top{
    height: 7vh;
    border: solid thin;
    border-right: none;
    border-left: none;
    border-color: aqua;
}
.side-bar-section{
    border-bottom: solid thin;
    border-color: aqua;
    text-align: left;
    padding-left: 1vh;
    overflow: hidden;
}