
.main{
    display: grid;
    grid-template-columns: 15em auto;
    background-color: rgb(34, 37, 40);
    height: 100%;
}
/* side bar stuff here below */
.side-bar{
    background-color: rgb(34, 37, 40);
    z-index: 2;
    left: 0;
    top: 0;
    font-size: small;
    border-right: solid thin;
    border-color: rgba(171, 173, 175, 0.2);
    color: white;
    overflow: scroll;
}
.top{
    height: 7vh;
    border: solid thin;
    border-right: none;
    border-left: none;
    border-color: rgba(171, 173, 175, 0.2);
    overflow: hidden;
    position: relative;
}

.top-togglable{
    height: 7vh;
    border: solid thin;
    border-right: none;
    border-left: none;
    border-color: rgba(171, 173, 175, 0.2);
    overflow: hidden;
    position: relative;
}
.top-togglable:hover{
    background-color: black;
    cursor: pointer;
}
.top-content{
    display: flex;
    padding: .4em;
}
.side-bar-section{
    border-bottom: solid thin;
    border-color: rgba(171, 173, 175, 0.2);
    text-align: left;
    padding-left: 1vh;
    overflow: hidden;
}
.side-bar-section:hover{
    background-color: black;
    cursor: pointer;
}

.solid-down-arrow{
    font-size: small;
}

.input-section{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 37, 40);
}

.chat-input{
    margin: 1em;
    width: -webkit-fill-available;
    height: 80%;
    border-radius: .5em;
    background-color: #303438;
    border-color: rgba(171, 173, 175, 0.2);
    color: white;
    font-size: medium;
    resize: none;
    outline: none;
}

/*  */
.dropdown-arrow-left{
    padding-left: .2em;
    font-size: larger;
}

.chat-room{
    height: 93vh;
}
.messages{
    height: 80%;
    overflow: scroll;
}
.message{
    color: white;
    display: flex;
    align-items: center;
    padding: 1em;
}
ul{
    padding-inline-start: 0;
}
.message:hover{
    background-color: #303438;
}

.waiting-room{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #747577;
}
.bottom-filler{

}